<div class="page page-dashboard">
  <div class="wrapper wrapper--light">
    <div class="container">
      <div class="pagehead">
        <div class="row">
          <div class="col-sm-6">
            <ol class="breadcrumb">
              <li class="active"><%= link_to @deck.title, deck_path(@deck) %></li>
              <li><%= link_to 'Quotes', deck_quotes_path(@deck) %></li>
              <li class="active"><%= @quote.id %> Edit</li>
            </ol>
          </div>
          <div class="col-sm-6">
            <div class="btn-group pull-right">
              <%= link_to 'Cancel', deck_quotes_path(@deck), class: 'btn btn-default' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">

        <%= render 'shared/quote_form', new: false %>

      </div>
    </div>
  </div>
</div>
