<div class="page page-dashboard">
  <div class="wrapper wrapper--light">
    <div class="container">
      <div class="pagehead">
        <div class="row">
          <div class="col-sm-6">
            <ol class="breadcrumb">
              <li><%= link_to 'Decks', decks_path %></li>
              <li><%= link_to @deck.title, deck_path(@deck) %></li>
              <li class="active">Quotes</li>
            </ol>
          </div>
          <div class="col-sm-6">
            <div class="btn-group pull-right">
              <%= link_to 'Create Quote', new_deck_quote_path, class: 'btn btn-brand' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">  
        <div class="panel panel-default panel-table">
          <div class="panel-heading">Quotes</div>
          <table class="table table-striped table-quote">
            <thead>
              <tr>
                <th>Id</th>
                <th>Content</th>
              </tr>
            </thead>
            <tbody>
              <% @quotes.each do |quote| %>
                <%= render quote %>
              <% end %>
            </tbody>
          </table>      
        </div>
        <div class="pagination">
          <%= will_paginate @quotes, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
</div>
