<div class="block">
  <div class="block-image">
    <%= link_to '#' do %>
      <%=image_tag image_path("temp/dashboard-img-#{rand(1..4)}.jpg") %>
    <% end %>
  </div>
  <div class="block-details">
    <%= link_to '#', class: 'title-link' do %>
      <h2 class="title"><%= deck.title %></h2>
      <h4 class="author">by <%= deck.author %></h4>
    <% end %>
    <div class="meta">
      <div class="categories">
        <%= render 'decks/categories', resource: deck %>
      </div>
      <div class="count">
        <%= pluralize(deck.cards.count, 'Card') %>
      </div>
      <div class="difficulty">
        9.5 Difficulty
      </div>
    </div>
  </div>
  <button 
    type="button"
    class="btn btn-preview"
    data-toggle="popover"
    data-trigger="click"
    data-original-title="<div>Content Preview</div>"
    data-html="true" data-content="<%= deck.cards.offset(rand(deck.cards.count)).first.content %>">
      Preview
    </button>
  <div class="block-progress" style="width: <%= rand(1..100) %>%"></div>
</div>
