<div class="block">
  <div class="block-details">
    <%= link_to "/users/#{@user.id}/#{deck.id}/preview", class: 'title-link' do %>
      <h2 class="title"><%= deck.title %></h2>
      <h4 class="subtitle"><%= deck.subtitle %></h4>
    <% end %>
    <div class="meta">
      <div class="pull-left">
        <div class="author">
          by <%= deck.author %>
        </div>
        <div class="categories">
          <%= render 'decks/categories', resource: deck %>
        </div>
      </div>
      <div class="pull-right text-right">
        <div class="count">
          <%= pluralize(deck.cards.count, 'Card') %>
        </div>
      </div>
    </div>
  </div>
</div>
