<%= form_for @deck do |f| %>
  <%= render 'shared/errors', resource: @deck %>
  
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
  </div>
  
  <div class="form-group">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle, class: 'form-control', placeholder: 'Subtitle' %>
  </div>

  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author, class: 'form-control', placeholder: 'Author' %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select(:status, Deck.statuses.keys.map {|status| [status.titleize, status]}, {}, {:class => 'form-control'}) %>
  </div>
  
  <%= f.submit new ? 'Create' : 'Update', class: 'btn btn-brand' %>
<% end %>
