<tr class="tr-padding-top status-<%= card.status %>">
  <th><%= link_to card.id, edit_deck_card_path(@deck, card) %></th>
  <th>Card Author</th>
  <th><%= card.card_type.humanize %></th>
  <th><%= card.difficulty %></th>
  <th><%= card.updated_at %></th>
  <th><%= card.created_at %></th>
</tr>
<tr class="status-<%= card.status %>">
  <td class="td-preview"></td>
  <td class="td-preview" colspan="5"><%= card.content %></td>
</tr>
