<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#flashcard" data-toggle="tab">Flashcard</a></li>
    <li><a href="#shortAnswer" data-toggle="tab">Short Answer</a></li>
    <li><a href="#organize" data-toggle="tab">Organize</a></li>
    <li><a href="#fillInBlank" data-toggle="tab">Fill in Blank</a></li>
  </ul>
  <div class="tab-content">
    
    <!-- FLASHCARD -->
    <div class="tab-pane active" id="flashcard">
      <%= form_for [@deck, @card] do |f| %>
        <%= render 'shared/errors', resource: @card %>
        <div class="form-group quotes-group">
          <a class="btn-link" data-toggle="collapse" href="#collapseQuotesFlashcard">Guided Quotes</a>
          <div class="collapse" id="collapseQuotesFlashcard">
            <% @deck.quotes.each do |quote| %>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <%= quote.content %>
                </label>
              </div>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <label>Difficulty</label>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option selected="selected">3</option>
          </select>
        </div>
        <div class="form-group">
          <label>Prompt</label>
          <textarea class="form-control" rows="5" placeholder="Flashcard prompt ..."></textarea>
        </div>
        <div class="form-group">
          <label>Answer</label>
          <textarea class="form-control" rows="4" placeholder="Flashcard answer ..."></textarea>
        </div>
        <%= f.submit new ? 'Create' : 'Update', class: 'btn btn-brand' %>
      <% end %>
    </div>
    <!-- SHORT ANSWER -->
    <div class="tab-pane" id="shortAnswer">
      <%= form_for [@deck, @card] do |f| %>
        <%= render 'shared/errors', resource: @card %>
        <div class="form-group quotes-group">
          <a class="btn-link" data-toggle="collapse" href="#collapseQuotesShortAnswer">Guided Quotes</a>
          <div class="collapse" id="collapseQuotesShortAnswer">
            <% @deck.quotes.each do |quote| %>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <%= quote.content %>
                </label>
              </div>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <label>Difficulty</label>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option selected="selected">3</option>
          </select>
        </div>
        <div class="form-group">
          <label>Prompt</label>
          <textarea class="form-control" rows="5" placeholder="Short Answer prompt ..."></textarea>
        </div>
        <div class="form-group">
          <label>Answer</label>
          <textarea class="form-control" rows="4" placeholder="Short Answer answer ..."></textarea>
        </div>
        <%= f.submit new ? 'Create' : 'Update', class: 'btn btn-brand' %>
      <% end %>
    </div>
    <!-- ORGANIZE -->
    <div class="tab-pane" id="organize">
      <%= form_for [@deck, @card] do |f| %>
        <%= render 'shared/errors', resource: @card %>
        <div class="form-group quotes-group">
          <a class="btn-link" data-toggle="collapse" href="#collapseQuotesOrganize">Guided Quotes</a>
          <div class="collapse" id="collapseQuotesOrganize">
            <% @deck.quotes.each do |quote| %>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <%= quote.content %>
                </label>
              </div>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <label>Difficulty</label>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option selected="selected">3</option>
          </select>
        </div>
        
        <div class="form-group">
          <label>Prompt</label>
          <textarea class="form-control" rows="5" placeholder="Organize prompt ..."></textarea>
        </div>

        <div class="form-group">
          <label>Add Items</label>
          <textarea class="form-control organize-item-text" rows="3" placeholder="Organize item ..."></textarea>
          <div class="btn btn-default organize-item-btn-add">Add Item</div>
        </div>

        <label>Answer</label>
        <ul id="organizeItemList" class="list-group organize-item-list">
          <li class="list-group-item">
            <span class="glyphicon glyphicon-resize-vertical"></span>
            This is a sortable list of items.</a>
            <span class="glyphicon glyphicon-remove organize-item-btn-remove"></span>
          </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-resize-vertical"></span>
            Add or remove items ...
            <span class="glyphicon glyphicon-remove organize-item-btn-remove"></span>
            </li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-resize-vertical"></span>
            drag them into the correct order.
            <span class="glyphicon glyphicon-remove organize-item-btn-remove"></span>
          </li>
        </ul>
        <p class="help-block organize-help-block">Use the arrows to drag items in order, click the 'x' to remove an item.</p>
        <%= f.submit new ? 'Create' : 'Update', class: 'btn btn-brand' %>
      <% end %>
    </div>
    <!-- FILL IN BLANK -->
    <div class="tab-pane" id="fillInBlank">
      <%= form_for [@deck, @card] do |f| %>
        <%= render 'shared/errors', resource: @card %>
        <div class="form-group quotes-group">
          <a class="btn-link" data-toggle="collapse" href="#collapseFillInBlank">Guided Quotes</a>
          <div class="collapse" id="collapseFillInBlank">
            <% @deck.quotes.each do |quote| %>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <%= quote.content %>
                </label>
              </div>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <label>Difficulty</label>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option selected="selected">3</option>
          </select>
        </div>
        <div class="form-group">
          <label>Prompt</label>
          <textarea class="form-control" rows="5" placeholder="Fill in the blank prompt ..."></textarea>
          <p class="help-block">Add blanks -> #blank here#'</p>
        </div>
        <%= f.submit new ? 'Create' : 'Update', class: 'btn btn-brand' %>
      <% end %>
    </div>
  </div>
</div>

<!-- Use https://github.com/RubaXa/Sortable for Drag + Drop support -->
<script>
  Sortable.create(organizeItemList, {
    handle: '.glyphicon-resize-vertical',
    animation: 150
  });
</script>
