<div>
  <ul class="nav nav-tabs" role="tablist">
    <% if @card.persisted? %>
      <li class="active">
        <a href="#<% @card.card_type %>" data-toggle="tab"><%= @card.card_type.humanize %></a>
      </li>
    <% else %>
      <li class="active">
        <a href="#fill_in_blank" data-toggle="tab">Fill in Blank</a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content">
    <!-- FILL_IN_BLANK -->
    <div class="<%= !@card.persisted? || @card.card_type == "fill_in_blank" ? "tab-pane active" : "tab-pane" %>" id="fill_in_blank">
      <%= form_for [@deck, @card] do |f| %>
        <%= render 'shared/errors', resource: @card %>
        <%= f.hidden_field :card_type, value: 'fill_in_blank' %>
        <div class="form-group">
          <% f.text_area :content, class: 'form-control', rows: '5' %>
        </div>
        <div class="form-group quotes-group">
          <a class="btn-link" data-toggle="collapse" href="#collapsefill_in_blank">Guiding Quotes</a>
          <div class="collapse" id="collapsefill_in_blank">
            <%= f.collection_radio_buttons :quote_id, @deck.quotes, :id, :content %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :difficulty %>
          <%= f.select :difficulty, Card::DIFFICULTY_LEVELS.map {|key,value| ["#{value}. #{key.titleize}",value]}, {}, { class: 'form-control'} %>
        </div>
        <div class="form-group">
          <%= f.label :content, 'Prompt' %>
          <%= f.text_area :content, class: 'form-control', rows: '5', placeholder: 'Fill in the blank prompt ...' %>
          <p class="help-block">The *first* man to walk on the moon was *Neil Armstrong*. -> The ___ man to walk on the moon was ______.</p>
        </div>
        <% if @card.persisted? %>
          <div class="form-group">
            <%= f.label :status %>
            <%= f.select(:status, Card.statuses.keys.map {|status| [status.titleize, status]}, {}, {:class => 'form-control'}) %>
          </div>
        <% end %>
        <%= f.submit @card.persisted? ? 'Update' : 'Create', class: 'btn btn-brand' %>
      <% end %>
    </div>
  </div>
</div>
