<div class="page page-dashboard">
  <div class="wrapper wrapper--light">
    <div class="container">
      <div class="pagehead">
        <div class="row">
          <div class="col-sm-6">
            <ol class="breadcrumb">
              <li><%= link_to 'Decks', decks_path %></li>
              <li><%= link_to @deck.title, deck_path(@deck) %></li>
              <li class="active">Create Card</li>
            </ol>
          </div>
          <div class="col-sm-6">
            <div class="btn-group pull-right">
              <%= link_to 'Cancel', deck_path(@deck), class: 'btn btn-default' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">

        <%= render 'card_form', new: true %>

      </div>
    </div>
  </div>
</div>

----below is just temporary----

<h2>Flashcard</h2>
<%= form_for [@deck, @card] do |f| %>
  <%= render 'shared/errors', resource: @card %>

  <%= f.hidden_field :card_type, value: 'flashcard' %>

  <%= f.label :difficulty %>
  <%= f.select :difficulty, collection: Card::DIFFICULTY_LEVELS.map {|key,value| ["#{value}. #{key.titleize}",value]} %>

  <%= f.label :quote_id %>
  <%= f.select :quote_id, collection: @quotes.map(&:id) %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.submit "Create" %>
<% end %>
<br>
<br>
<h2>Short Answer</h2>
<%= form_for [@deck, @card] do |f| %>
  <%= render 'shared/errors', resource: @card %>

  <%= f.hidden_field :card_type, value: 'short_answer' %>

  <%= f.label :difficulty %>
  <%= f.select :difficulty, collection: Card::DIFFICULTY_LEVELS.map {|key,value| ["#{value}. #{key.titleize}",value]} %>

  <%= f.label :quote_id %>
  <%= f.select :quote_id, collection: @quotes.map(&:id) %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.submit "Create" %>
<% end %>
<br>
<br>
<h2>Organize</h2>
<%= form_for [@deck, @card] do |f| %>
  <%= render 'shared/errors', resource: @card %>

  <%= f.hidden_field :card_type, value: 'organize' %>

  <%= f.label :difficulty %>
  <%= f.select :difficulty, collection: Card::DIFFICULTY_LEVELS.map {|key,value| ["#{value}. #{key.titleize}",value]} %>

  <%= f.label :quote_id %>
  <%= f.select :quote_id, collection: @quotes.map(&:id) %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.submit "Create" %>
<% end %>
<br>
<br>
<h2>Fill in the Blank</h2>
<%= form_for [@deck, @card] do |f| %>
  <%= render 'shared/errors', resource: @card %>

  <%= f.hidden_field :card_type, value: 'fill_in_blank' %>

  <%= f.label :difficulty %>
  <%= f.select :difficulty, collection: Card::DIFFICULTY_LEVELS.map {|key,value| ["#{value}. #{key.titleize}",value]} %>

  <%= f.label :quote_id %>
  <%= f.select :quote_id, collection: @quotes.map(&:id) %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.submit "Create" %>
<% end %>
<br>
<br>
