<%= form_for @deck do |f| %>
  
  <%= render 'shared/errors', resource: @deck %>
  
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, required: true, class: 'form-control', placeholder: 'Title' %>
  </div>
  <div class="form-group">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle, required: true, class: 'form-control', placeholder: 'Subtitle' %>
  </div>
  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author, required: true, class: 'form-control', placeholder: 'Author' %>
  </div>
  <% if @deck.persisted? %>
    <div class="form-group">
      <%= f.label :status %>
      <%= f.select(:status, Deck.statuses.keys.map {|status| [status.titleize, status]}, {}, {:class => 'form-control'}) %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :tier %>
    <%= f.select(:tier, Deck.tiers.keys.map {|tier| [tier.titleize, tier]}, {}, {:class => 'form-control'}) %>
  </div>
  <%= f.submit @deck.persisted? ? 'Update' : 'Create', class: 'btn btn-brand' %>
<% end %>
