<tr data-link="<%= deck_path(deck) %>" class="tier-<%= deck.tier %> status-<%= deck.status %>">
  <td><%= deck.title %></td>
  <td><%= deck.subtitle %></td>
  <td><%= deck.author %></td>
  <td><%= render 'categories', resource: deck %></td>
</tr>
