<div class="summary">
  <div class="row">
    <div class="col-xs-12">
      <div class="well">
        <table class="table table-condensed table-striped">
          <tbody>
            <tr>
              <th><span class="glyphicon glyphicon-book"></span>Decks</th>
              <td>
                <%= Deck.count %>
              </td>
              <td>
                <ul class="list-inline">
                  <% Deck.statuses.each do |key, value| %>
                    <li class="list-item-label">
                      <%= link_to decks_path status: value do %>
                        <span class="label label-<%= key %>">
                          <%= Deck.where(status: key).count %> <%= key.titleize %>
                        </span>
                      <% end %>
                    </li>
                  <% end %>
                  <% Deck.tiers.each do |key, value| %>
                    <li class="list-item-label">
                      <%= link_to decks_path tier: value do %>
                        <span class="label label-<%= key %>">
                          <%= Deck.where(tier: key).count %> <%= key.titleize %>
                        </span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </td>
            </tr>
            <tr>
              <th>
                <span class="glyphicon glyphicon-bookmark"></span>
                Categories
              </th>
              <td>
                <%= @categories.count %>
              </td>
              <td>
                <ul class="list-inline">
                  <% @categories.each do |category| %>
                    <li class="list-item-label">
                      <%= link_to decks_path category: category.name  do %>
                        <span class="label label-default">
                          <%= category.decks.count %> <%= category.name %>
                        </span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
