<div class="page page-dashboard">
  
  <div class="wrapper wrapper--light">
    <div class="container">

      <div class="pagehead">
        <div class="row">
          <div class="col-xs-6">
            <ol class="breadcrumb">
              <li><span class="glyphicon glyphicon-list" aria-hidden="true"></span><%= link_to 'Decks', decks_path %></li>
              <li class="active"><%= @deck.title %></li>
            </ol>
          </div>
          <div class="col-xs-6">
            <div class="btn-toolbar pull-right">
              <div class="btn-group">
              <%= link_to 'Edit Deck', edit_deck_path(@deck), class: 'btn btn-default' %>
              </div>
              <div class="btn-group">
                <%= link_to 'Add New Card', new_deck_card_path(@deck), class: 'btn btn-brand' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div class="container">

    <%= render 'shared/deck_summary' %>
    
    <div class="row">
      <div class="col-xs-12">  
        <div class="panel panel-default">
          <div class="panel-heading">Cards</div>
          <table class="table table-bordered table-hover table-links">
            <thead>
              <tr>
                <th>Title<a href="#"><span class="glyphicon glyphicon-sort"></span></a></th>
                <th>Subtitle<a href="#"><span class="glyphicon glyphicon-sort"></span></a></th>
                <th>Author<a href="#"><span class="glyphicon glyphicon-sort"></span></a></th>
                <th>Categories</th>
              </tr>
            </thead>
            <tbody>
              <% for i in 0..10 %>
                <tr data-link="#" class="tier-free status-unpublished">
                  <td>Card Title</td>
                  <td>Card Subtitle</td>
                  <td>Card Author</td>
                  <td>Category 1, Category 2</td>
                </tr>
              <% end %>
            </tbody>
          </table>      
        </div>
      </div>
    </div>

  </div>
</div>
